<!DOCTYPE html>
<html lang="{{metas.lang}}">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }} | {{ metas.site }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/main.css">
  </head>
  <body>
    <header data-pagefind-ignore="all">
      <div class="navbar">
        <div class="flex-1">
          <h1 class="text-xl">{{ metas.site }}</h1>
        </div>
      </div>
    </header>

    {{ content }}

    <footer
      class="footer sm:footer-horizontal bg-neutral text-neutral-content items-center p-4"
    >
      <aside class="grid-flow-col items-center">
        <a href="https://o.kbn.one">kuboon</a>
      </aside>
      <nav
        class="grid-flow-col gap-4 md:place-self-center md:justify-self-end"
      >
        {{ comp.ThemeSelector() }}
      </nav>
    </footer>
  </body>
</html>
